* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #B8C0C2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > img {
  width: 40px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8ECEB;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a,
nav > p {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 3fr 1fr;
}

#new-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  width: 10rem;
}

.movies-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-card {
  width: 70vw;
  padding: 2vmin;
  margin: 2vmax;
  border: .75vmin solid #424748;
  border-radius: 6vmin;
  display: grid;
  grid-template-columns: 32vmin auto;
  column-gap: 2vmin;
  grid-template-rows: auto;
  grid-template-areas: "poster title"
    "poster release"
    "poster overview"
    "poster add";
}

.movie-card {
  width: 70vw;
  padding: 2vmin;
  margin: 2vmax;
  border: .75vmin solid #424748;
  border-radius: 6vmin;
  display: grid;
  grid-template-columns: 32vmin auto;
  column-gap: 2vmin;
  grid-template-rows: auto;
  grid-template-areas:
    "poster title"
    "poster release"
    "poster genres"
    "poster cast"
    "poster overview"
    "poster details";
}

.poster {
  grid-area: poster;
  border-radius: 4vmin;
  width: 100%;
  height: auto;
}

.title {
  grid-area: title;
  align-self: center;
}

.overview {
  grid-area: overview;
  align-self: center;
}

.cast {
  grid-area: cast;
  align-self: center;
}

.genres {
  grid-area: genres;
  align-self: center;
}

.release {
  grid-area: release;
  align-self: center;
}

.details {
  grid-area: details;
  margin-left: auto;
  margin-top: auto
}

.add {
  grid-area: add;
  margin-left: auto;
  margin-top: auto
}

#add,
.details > button {
  padding: 1.5vmin;
  border-radius: 2vmin;
  font-size: 16px;
}

#add:hover,
.details > button:hover {
  color: white;
  background-color: #424748;
}