<%- include('../partials/header') %>

<form class="add-review-form" action="/reviews/<%= review._id %>?_method=PUT" method="POST">
  <label>Review:</label>
  <textarea id="content" name="content" required><%= review.content %></textarea>

  <label>Rating:</label>
  <select id="rating" name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select>
  <input id="submit" type="submit" value="SUBMIT">
</form>

<%- include('../partials/footer') %>