<%- include('../partials/header') %>

<form id="new-form" action="/movies/search" method="GET">
  <input type="text" name="searchParam" placeholder="SEARCH MOVIE TITLE" required>
  <input type="submit" value="SEARCH">
</form>

<%- include('../partials/footer') %>